{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 2}) }}
    <div class="content">
        <div class="form-control" id="serverTimeContainer">
            <label>Date et heure du client</label>
            <input
                    type="datetime-local"
                    id="clientTime"
                    value="{{ serverTime }}"
                    readonly
            />
        </div>
        <div class="form-control" id="serverTimeContainer">
            <label for="serverTime">Date et heure du serveur</label>
            <input
                type="datetime-local"
                name="server-time"
                id="serverTime"
                value="{{ serverTime }}"
                required
                autofocus
                hx-get="{{ path('app_settings_server_time') }}"
                hx-trigger="load"
                hx-swap="outerHTML"
            />
        </div>

        <button class="btn-primary w100" type="button"
            hx-get="{{ path('app_settings_sync_time') }}"
            hx-target="#serverTime"
            hx-swap="outerHTML">
            <i class="fa-solid fa-sync"></i> Mettre à jour les dates et heures
        </button>

        <script>
            // Met à jour l'affichage de l'heure locale du navigateur
            function updateClientTime() {
                const now = new Date();
                document.getElementById('clientTime').value =
                    now.toLocaleString();
            }

            // On exécute au chargement, puis on met à jour toutes les secondes
            window.addEventListener('load', () => {
                updateClientTime();
            });
        </script>
    </div>
{% endblock %}
