{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 2}) }}
    {{ component('confirmdialog', {
        title: 'Remove all detections',
        message: 'Are you sure you want to remove all your stored detections? This action is irreversible.',
        confirmUrl: path('user_detections_delete'),
    }) }}

    <div class="content">
        {% for error in errors %}
            <div class="form-message error">
                <img src="{{ asset('icons/info.svg') }}" alt="Error">
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        <h2>Your Detections</h2>
        <div class="camera-actions">
            <button onclick="document.getElementById('confirm-modal').showModal()" class="card action w100">
                <span class="fa-solid fa-trash red"></span>
                 <p class="desc">Remove all detections</p>
            </button>
        </div>

        {{ form_start(settingsForm) }}
            <h2>Sync server time</h2>
            <div class="form-control" id="serverTimeContainer">
                <label>You device time</label>
                <input type="datetime-local" id="clientTime" readonly />
            </div>
            <div class="form-control" id="serverTimeContainer">
                <label for="serverTime">Sentinel's time</label>
                <input type="datetime-local" name="{{ field_name(settingsForm.serverTime) }}" id="serverTime" value="{{ field_value(settingsForm.serverTime) }}" />
            </div>

            <h2>Access Point Configuration</h2>
            <div class="form-control">
                <label for="accessPointName">Name</label>
                <input type="text" name="{{ field_name(settingsForm.accessPointName) }}" value="{{ field_value(settingsForm.accessPointName) }}" id="accessPointName" autocomplete="new-password">
            </div>
            <div class="form-control">
                <label for="accessPointPassword">Password</label>
                <input type="password" name="{{ field_name(settingsForm.accessPointPassword) }}" value="{{ field_value(settingsForm.accessPointPassword) }}" id="accessPointPassword" autocomplete="new-password">
            </div>
            <div class="form-control">
                <label for="accessPointPasswordConfirm">Password Confirmation</label>
                <input type="password" name="{{ field_name(settingsForm.accessPointPasswordConfirm) }}" value="{{ field_value(settingsForm.accessPointPasswordConfirm) }}" id="accessPointPasswordConfirm" autocomplete="new-password">
            </div>

            <h2>Notification</h2>
            {{ form_row(settingsForm.sendMail) }}

            <h2>Deactivation range</h2>
            <h3>Monday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="mondayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.mondayFrom) }}" value="{{ field_value(settingsForm.mondayFrom) }}" id="mondayFrom">
                </div>
                <div class="form-control w100">
                    <label for="mondayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.mondayTo) }}" value="{{ field_value(settingsForm.mondayTo) }}" id="mondayTo">
                </div>
            </div>

            <h3>Tuesday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="tuesdayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.tuesdayFrom) }}" value="{{ field_value(settingsForm.tuesdayFrom) }}" id="tuesdayFrom">
                </div>
                <div class="form-control w100">
                    <label for="tuesdayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.tuesdayTo) }}" value="{{ field_value(settingsForm.tuesdayTo) }}" id="tuesdayTo">
                </div>
            </div>

            <h3>Wednesday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="wednesdayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.wednesdayFrom) }}" value="{{ field_value(settingsForm.wednesdayFrom) }}" id="wednesdayFrom">
                </div>
                <div class="form-control w100">
                    <label for="wednesdayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.wednesdayTo) }}" value="{{ field_value(settingsForm.wednesdayTo) }}" id="wednesdayTo">
                </div>
            </div>

            <h3>Thursday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="thursdayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.thursdayFrom) }}" value="{{ field_value(settingsForm.thursdayFrom) }}" id="thursdayFrom">
                </div>
                <div class="form-control w100">
                    <label for="thursdayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.thursdayTo) }}" value="{{ field_value(settingsForm.thursdayTo) }}" id="thursdayTo">
                </div>
            </div>

            <h3>Friday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="fridayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.fridayFrom) }}" value="{{ field_value(settingsForm.fridayFrom) }}" id="fridayFrom">
                </div>
                <div class="form-control w100">
                    <label for="fridayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.fridayTo) }}" value="{{ field_value(settingsForm.fridayTo) }}" id="fridayTo">
                </div>
            </div>

            <h3>Saturday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="saturdayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.saturdayFrom) }}" value="{{ field_value(settingsForm.saturdayFrom) }}" id="saturdayFrom">
                </div>
                <div class="form-control w100">
                    <label for="saturdayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.saturdayTo) }}" value="{{ field_value(settingsForm.saturdayTo) }}" id="saturdayTo">
                </div>
            </div>

            <h3>Sunday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="sundayFrom">From</label>
                    <input type="time" name="{{ field_name(settingsForm.sundayFrom) }}" value="{{ field_value(settingsForm.sundayFrom) }}" id="sundayFrom">
                </div>
                <div class="form-control w100">
                    <label for="sundayTo">To</label>
                    <input type="time" name="{{ field_name(settingsForm.sundayTo) }}" value="{{ field_value(settingsForm.sundayTo) }}" id="sundayTo">
                </div>
            </div>

            <button class="btn-primary w100" type="submit">
                <i class="fa-solid fa-save"></i>&nbsp;Save
            </button>
        {{ form_end(settingsForm) }}

        <script>
            // Met à jour l'affichage de l'heure locale du navigateur
            function updateClientTime() {
                document.getElementById('clientTime').value = getNowStandardDate();
            }

            function getNowStandardDate() {
                const datetime = new Date();
                let d = datetime.getDate();
                let m = datetime.getMonth() + 1; //Month from 0 to 11
                let y = datetime.getFullYear();
                let h = datetime.getHours();
                let min = datetime.getMinutes();

                const formattedDate = `${y}-${m<=9 ? '0' + m : m}-${d <= 9 ? '0' + d : d}`;
                const formattedTime = `${h<=9 ? '0' + h : h}:${min<=9 ? '0' + min : min}`;

                return formattedDate + " " + formattedTime;
            }

            window.addEventListener('load', () => {
                updateClientTime();
                setInterval(updateClientTime, 10000);
            });
        </script>
    </div>
{% endblock %}
