{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 2}) }}
    <div class="content">
        <form>
            <h2>Sync server time</h2>
            <div class="form-control" id="serverTimeContainer">
                <label>You device time</label>
                <input type="datetime-local" id="clientTime" readonly />
            </div>
            <div class="form-control" id="serverTimeContainer">
                <label for="serverTime">Sentinel's time</label>
                <input type="datetime-local" name="server-time" id="serverTime" value="{{ serverTime }}" required autofocus />
            </div>
            <button class="btn-primary w100" type="submit">
                <i class="fa-solid fa-sync"></i> Update Sentinel's time
            </button>
        </form>

        <form action="{{ path('settings_activation_time_update') }}" method="post">
            <h2>Activation time</h2>
            <h3>Monday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="mondayFrom">From</label>
                    <input type="time" id="mondayFrom" value="{{ activationPlanning.mondayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="mondayTo">To</label>
                    <input type="time" id="mondayTo" value="{{ activationPlanning.mondayTo ?? "" }}" />
                </div>
            </div>
            <h3>Tuesday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="tuesdayFrom">From</label>
                    <input type="time" id="tuesdayFrom" value="{{ activationPlanning.tuesdayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="tuesdayTo">To</label>
                    <input type="time" id="tuesdayTo" value="{{ activationPlanning.tuesdayTo ?? "" }}" />
                </div>
            </div>
            <h3>Wednesday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="wednesdayFrom">From</label>
                    <input type="time" id="wednesdayFrom" value="{{ activationPlanning.wednesdayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="wednesdayTo">To</label>
                    <input type="time" id="wednesdayTo" value="{{ activationPlanning.wednesdayTo ?? "" }}" />
                </div>
            </div>
            <h3>Thursday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="thursdayFrom">From</label>
                    <input type="time" id="thursdayFrom" value="{{ activationPlanning.thursdayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="thursdayTo">To</label>
                    <input type="time" id="thursdayTo" value="{{ activationPlanning.thursdayTo ?? "" }}" />
                </div>
            </div>
            <h3>Friday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="fridayFrom">From</label>
                    <input type="time" id="fridayFrom" value="{{ activationPlanning.fridayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="fridayTo">To</label>
                    <input type="time" id="fridayTo" value="{{ activationPlanning.fridayTo ?? "" }}" />
                </div>
            </div>
            <h3>Saturday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="saturdayFrom">From</label>
                    <input type="time" id="saturdayFrom" value="{{ activationPlanning.saturdayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="saturdayTo">To</label>
                    <input type="time" id="saturdayTo" value="{{ activationPlanning.saturdayTo ?? "" }}" />
                </div>
            </div>
            <h3>Sunday</h3>
            <div class="row w100">
                <div class="form-control w100">
                    <label for="sundayFrom">From</label>
                    <input type="time" id="sundayFrom" value="{{ activationPlanning.sundayFrom ?? "" }}" />
                </div>
                <div class="form-control w100">
                    <label for="sundayTo">To</label>
                    <input type="time" id="sundayTo" value="{{ activationPlanning.sundayTo ?? "" }}" />
                </div>
            </div>

            <button class="btn-primary w100" type="submit">
                <i class="fa-solid fa-sync"></i> Update activation time
            </button>
        </form>

        <script>
            // Met à jour l'affichage de l'heure locale du navigateur
            function updateClientTime() {
                document.getElementById('clientTime').value = getNowStandardDate();
            }

            function getNowStandardDate() {
                const datetime = new Date();
                let d = datetime.getDate();
                let m = datetime.getMonth() + 1; //Month from 0 to 11
                let y = datetime.getFullYear();
                let h = datetime.getHours();
                let min = datetime.getMinutes();

                const formattedDate = `${y}-${m<=9 ? '0' + m : m}-${d <= 9 ? '0' + d : d}`;
                const formattedTime = `${h<=9 ? '0' + h : h}:${min<=9 ? '0' + min : min}`;

                return formattedDate + " " + formattedTime;
            }

            window.addEventListener('load', () => {
                setInterval(updateClientTime, 1000);
            });
        </script>
    </div>
{% endblock %}
