{{ form_start(form) }}

<div class="answer-btn-container">
    <div class="answer-btn">
        {{ form_row(form.answer1) }}
    </div>
    <div class="answer-btn">
        {{ form_row(form.answer2) }}
    </div>
    {% if question.answer3 %}
        <div class="answer-btn">
            {{ form_row(form.answer3) }}
        </div>
    {% endif %}
    {% if question.answer4 %}
        <div class="answer-btn">
            {{ form_row(form.answer4) }}
        </div>
    {% endif %}
</div>

{{ form_widget(form) }}
<button class="rounded-btn large" type="submit"><i class="fa-solid fa-check"></i> {{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

