{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 0}) }}
    {{ component('alert') }}

    <div class="screen-center">
        <div class="big-image-container">
            {% if question.ressourceFilename %}

                {% if question.type == 1 %}
                    <img src="{{ asset('uploads/' ~ question.ressourceFilename) }}">
                {% endif %}
                {% if question.type == 2 %}
                    <audio controls autoplay src="{{ asset('uploads/' ~ question.ressourceFilename) }}"></audio>
                {% endif %}
                {% if question.type == 3 %}
                    <video controls autoplay>
                        <source src="{{ asset('uploads/' ~ question.ressourceFilename) }}">
                    </video>
                {% endif %}
                <p class="tag large">{{ questionIndex + 1}}/{{ question.quiz.questions.count() }}</p>
            {% endif %}
        </div>
        <div class="p1 g1 column">
            <h1 class="no-margin">{{ question.getStatement() }}</h1>
            {{ include('question/_form.html.twig', {'button_label': 'Validate'}) }}
        </div>
    </div>

{% endblock %}