{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
    {{ component('navbar', {index: 1}) }}
    <div class="centered">
        <div class="container-card small">
            <h1>Account</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ actualUserPostion }}</td>
                        <td>{{ actualUser.username }}</td>
                        <td>{{ actualUser.score }}</td>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.rank }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}