{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 2}) }}
    {{ component('alert') }}

    <div class="p1">
        <h1>Leaderboard</h1>

        <table class="leaderboard">
            <thead>
                <tr>
                    <th><i class="fa-solid fa-medal"></i> Position</th>
                    <th><i class="fa-solid fa-user"></i> Username</th>
                    <th><i class="fa-solid fa-star"></i> Score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.rank }}</td>
                        <td><a href="{{ path('app_account_view', {'id': user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.score }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>{{ actualUserPostion }}</td>
                    <td>{{ actualUser.username }}</td>
                    <td>{{ actualUser.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}