<a class="img-card-wrapper" href="{{ path('app_couples_view', {id: couple.id}) }}">
    <div class="img-card">
        <img src="{{ path('app_couples_capture', {id: couple.id}) }}" alt="preview">
        <div class="dark-overlay"></div>
        <div class="infos">
            <div class="couple-name">
                <p>{{ couple.title }}</p>
            </div>
            <div class="couple-status">
                <span class="fa-solid fa-volume-high"></span>
                <span class="fa-solid fa-wifi"></span>
                <span class="fa-solid fa-power-off {{ couple.enabled == true ? "green" : "red"  }}"></span>
            </div>
        </div>
    </div>
    <div class="notif">
        <span class="fa-solid fa-bell"></span>
        <span>{{nbDetection}}</span>
    </div>
</a>