<nav class="sidebar">
    <div class="top">
        <div class="header">
            <img src="{{ asset('icons/sentinel.svg') }}" alt="Logo" class="logo">
            <p>Sentinel</p>
        </div>
        <a class="nav-item {{ index == 0 ? "active" : ""  }}" href="{{ path('app_couples') }}">
            <span class="icon fa-solid fa-camera"></span>
            <span class="text">Cameras</span>
        </a>
        <a class="nav-item {{ index == 1 ? "active" : ""  }}" href="{{ path('app_detections') }}">
            <span class="icon fa-solid fa-bolt"></span>
            <span class="text">Detections</span>
        </a>
        <a class="nav-item {{ index == 2 ? "active" : ""  }}" href="{{ path('app_couples') }}">
            <span class="icon fa-solid fa-gear"></span>
            <span class="text">Settings</span>
        </a>
    </div>

    <div class="bottom">
        {% if app.user %}
            <a class="user-info" href="{{ path('app_account_edit', {id: app.user.getId() }) }}">
                <span class="icon fa-solid fa-user"></span>
                <span class="text">{{ app.user.getUsername() }}</span>
            </a>
            <a href="{{ path('app_logout') }}" class="icon-btn">
                <span class="fa-solid fa-power-off"></span>
            </a>
        {% endif %}
    </div>
</nav>

<nav class="topbar">
    <div class="logo">
        <img src="{{ asset('icons/sentinel.svg') }}" alt="Logo" class="logo">
        <p>Sentinel</p>
    </div>
    <button class="icon-btn mobile-menu-button">
        <span class="fa-solid fa-bars"></span>
    </button>
    <div class="sidebar mobile mobile-menu">
        <div class="top">
            <a class="nav-item {{ index == 0 ? "active" : ""  }}" href="{{ path('app_couples') }}">
                <span class="icon fa-solid fa-camera"></span>
                <span class="text">Cameras</span>
            </a>
            <a class="nav-item {{ index == 1 ? "active" : ""  }}" href="{{ path('app_detections') }}">
                <span class="icon fa-solid fa-bolt"></span>
                <span class="text">Detections</span>
            </a>
            <a class="nav-item {{ index == 2 ? "active" : ""  }}" href="{{ path('app_settings') }}">
                <span class="icon fa-solid fa-gear"></span>
                <span class="text">Settings</span>
            </a>
        </div>
        <div class="bottom">
            {% if app.user %}
                <div class="user-info">
                    <span class="icon fa-solid fa-user"></span>
                    <span class="text">{{ app.user.getUsername() }}</span>
                </div>
                <a href="{{ path('app_logout') }}" class="icon-btn">
                    <span class="fa-solid fa-power-off"></span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>