{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 1}) }}

    <div class="p1">
        <h1>Create a quiz</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.illustrationFile) }}

        <h2>Questions</h2>
        <div class="questions"
             data-index="{{ form.questions|length > 0 ? form.questions|last.vars.name + 1 : 0 }}"
             data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}"
        >
            {% for question in form.questions %}
                {{ form_row(question) }}
            {% endfor %}
        </div>
        <button type="button" class="rounded-btn add_question_item_link" data-collection-holder-class="questions"><i class="fa-solid fa-plus"></i> Add a question</button>
        <button type="submit" class="rounded-btn"><i class="fa-solid fa-floppy-disk"></i> Finish & Save</button>
        <a class="rounded-btn cancel" href="{{ path('app_quiz_view_me') }}">Cancel</a>
        {{ form_end(form) }}
    </div>

    <script>
        document
            .querySelectorAll('.add_question_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addQuestionFormToCollection)
            });

        document
            .querySelectorAll('div.questions > div')
            .forEach((question) => {
                addQuestionFormDeleteLink(question)
            });

        function addQuestionFormToCollection(e) {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            // add a delete link to the new form
            addQuestionFormDeleteLink(item);
        }

        function addQuestionFormDeleteLink(item) {
            const removeQuestionFormButton = document.createElement('button');
            removeQuestionFormButton.innerHTML = '<i class="fa-solid fa-trash"></i> Remove the question';
            removeQuestionFormButton.classList.add('rounded-btn');
            removeQuestionFormButton.classList.add('destructive');

            item.append(removeQuestionFormButton);

            removeQuestionFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }
    </script>

{% endblock %}