{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 1}) }}

    <div class="p1">
        <h1>Edit a quiz</h1>

        {% if quiz.illustrationFilename %}
            <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}" class="question-img">
        {% endif %}

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.illustrationFile) }}

        <h2>Questions</h2>
        <div class="questions"
             data-index="{{ form.questions|length > 0 ? form.questions|last.vars.name + 1 : 0 }}"
             data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}"
        >
            {% if form.questions.count() > 0 %}
                {% for i in 0..(form.questions.count() - 1) %}
                    <div>
                        {% if quiz.questions[i].ressourceFilename %}
                            {% if quiz.questions[i].type == 1 %}
                                <img src="{{ asset('uploads/' ~ quiz.questions[i].ressourceFilename) }}" class="question-img">
                            {% endif %}
                            {% if quiz.questions[i].type == 2 %}
                                <audio controls src="{{ asset('uploads/' ~ quiz.questions[i].ressourceFilename) }}"></audio>
                            {% endif %}
                            {% if quiz.questions[i].type == 3 %}
                                <video controls class="question-img">
                                    <source src="{{ asset('uploads/' ~ quiz.questions[i].ressourceFilename) }}">
                                </video>
                            {% endif %}
                        {% endif %}
                        {{ form_row(form.questions[i]) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="button" class="rounded-btn add_question_item_link" data-collection-holder-class="questions"><i class="fa-solid fa-plus"></i> Add a question</button>
        <button type="submit" class="rounded-btn"><i class="fa-solid fa-floppy-disk"></i> Finish & Save</button>
        <a class="rounded-btn cancel" href="{{ path('app_quiz_view', {'id': quiz.id}) }}">Cancel</a>
        {{ form_end(form) }}
    </div>

    <script>
        document
            .querySelectorAll('.add_question_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addQuestionFormToCollection)
            });

        document
            .querySelectorAll('div.questions > div')
            .forEach((question) => {
                addQuestionFormDeleteLink(question)
            });

        function addQuestionFormToCollection(e) {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            // add a delete link to the new form
            addQuestionFormDeleteLink(item);
        }

        function addQuestionFormDeleteLink(item) {
            const removeQuestionFormButton = document.createElement('button');
            removeQuestionFormButton.innerHTML = '<i class="fa-solid fa-trash"></i> Remove the question';
            removeQuestionFormButton.classList.add('rounded-btn');
            removeQuestionFormButton.classList.add('destructive');

            item.append(removeQuestionFormButton);

            removeQuestionFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }
    </script>

{% endblock %}