{% extends 'base.html.twig' %}

{% block title %}Liste des quiz{% endblock %}

{% block body %}
    {{ component('navbar', {index: 0}) }}

    <h1>Liste des quiz</h1>

    <div class="search-form">
        {{ form(searchForm) }}
        <a href="{{ path('app_quiz_add') }}" class="rounded-btn"><i class="fa-solid fa-plus"></i> Créer un quiz</a>
    </div>

    <h2>Résultat de recherche</h2>
    <div class="container">
        {% for quiz in searchedQuiz %}
            <a class="quiz-card" href="{{ path('app_quiz_view', {'id': quiz.id}) }}">
                <div>
                    {% if quiz.illustrationFilename %}
                        <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}" class="question-img">
                    {% endif %}
                    <h3 class="title">{{ quiz.title }}</h3>
                    <p class="nb-question">({{ quiz.questions.count() }} questions)</p>
                    <p class="description">{{ quiz.description }}</p>
                    <p class="author"><i class="fa-solid fa-user"></i> {{ quiz.author.username }}</p>
                    <p class="date"><i class="fa-regular fa-calendar"></i> {{ quiz.createdDate|date('d/m/Y') }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2>🔥 Les quiz en tendance</h2>
    <div class="container">
        {% for quiz in trendQuiz %}
            <a class="quiz-card" href="{{ path('app_quiz_view', {'id': quiz.id}) }}">
                <div>
                    {% if quiz.illustrationFilename %}
                        <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}" class="question-img">
                    {% endif %}
                    <h3 class="title">{{ quiz.title }}</h3>
                    <p class="nb-question">({{ quiz.questions.count() }} questions)</p>
                    <p class="description">{{ quiz.description }}</p>
                    <p class="author"><i class="fa-solid fa-user"></i> {{ quiz.author.username }}</p>
                    <p class="date"><i class="fa-regular fa-calendar"></i> {{ quiz.createdDate|date('d/m/Y') }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2>✨ Les derniers quiz</h2>
    <div class="container">
        {% for quiz in lastQuiz %}
            <a class="quiz-card" href="{{ path('app_quiz_view', {'id': quiz.id}) }}">
                <div>
                    {% if quiz.illustrationFilename %}
                        <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}" class="question-img">
                    {% endif %}
                    <h3 class="title">{{ quiz.title }}</h3>
                    <p class="nb-question">({{ quiz.questions.count() }} questions)</p>
                    <p class="description">{{ quiz.description }}</p>
                    <p class="author"><i class="fa-solid fa-user"></i> {{ quiz.author.username }}</p>
                    <p class="date"><i class="fa-regular fa-calendar"></i> {{ quiz.createdDate|date('d/m/Y') }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
