{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 1}) }}
    {{ component('alert') }}

    <div class="top-container">
        <h1>List of my quizzes</h1>

        {{ form_start(searchForm) }}
            {{ form_row(searchForm.query) }}
            <button type="submit" class="rounded-btn"><i class="fa-solid fa-search"></i> Search</button>
        {{ form_end(searchForm) }}
        <a href="{{ path('app_quiz_add') }}" class="rounded-btn"><i class="fa-solid fa-plus"></i> Create a quiz</a>
    </div>

    <div class="p1">
        {% if searchedQuiz is not null %}
            <h2>🔎 Result of your research</h2>
            <div class="quiz-grid-container">
                {% for quiz in searchedQuiz %}
                    {{ component('quizcard', {quiz: quiz}) }}
                {% endfor %}
                {% if searchedQuiz is empty %}
                    <p class="no-result">No quiz found 😅</p>
                {% endif %}
            </div>
            <hr>
        {% endif %}

        <h2>✨ Your Quizzes</h2>
        <div class="quiz-grid-container">
            {% for quiz in myQuizzes %}
                {{ component('quizcard', {quiz: quiz}) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
