{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 0}) }}
    {{ component('alert') }}


    <div class="screen-center ">
        <div class="big-image-container">
            {% if quiz.illustrationFilename %}
                <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}">
            {% endif %}
        </div>

        <div class="row g1 p1">
            <a class="tag" href="{{ path('app_account_view', {'id': quiz.author.id}) }}"><i class="fa-solid fa-user"></i> {{ quiz.author.username }}</a>
            <p class="tag"><i class="fa-regular fa-calendar"></i> {{ quiz.createdDate|date('d/m/Y') }}</p>
            <p class="tag"><i class="fa-regular fa-question-circle"></i> {{ quiz.questions.count() }} questions</p>
            <p class="tag"><i class="fa-solid fa-play"></i> {{ nbOfTimesQuizHasBeenPlayed }} played</p>

            {% if not isFavorite %}
                <a class="tag" href="{{ path("app_like_add", {'quizId': quiz.id}) }}"><i class="fa-regular fa-heart"></i> {{ nbOfUsersHasFavorited }}</a>
            {% else %}
                <a class="tag" href="{{ path("app_like_remove", {'quizId': quiz.id}) }}"><i class="fa-solid fa-heart"></i> {{ nbOfUsersHasFavorited }}</a>
            {% endif %}
        </div>

        <div class="p1 g1 column">
            <h1>{{ quiz.title }}</h1>
            <p>{{ quiz.description }}</p>

            <div class="row g1">
                <a href="{{ path('app_quiz_play', {'quizId': quiz.id, 'questionIndex': 0}) }}" class="rounded-btn"><i class="fa-solid fa-play"></i> Play</a>
                {% if app.user.id == quiz.author.id %}
                    <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="rounded-btn"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a href="{{ path('app_quiz_remove', {'id': quiz.id}) }}" class="rounded-btn destructive"><i class="fa-solid fa-trash"></i> Remove</a>
                {% endif %}
                <a href="{{ path('app_quiz_view_all') }}" class="rounded-btn cancel">Back</a>
            </div>
        </div>
    </div>

{% endblock %}
