{% extends 'base.html.twig' %}

{% block title %}Voir quiz{% endblock %}

{% block body %}
    {{ component('navbar', {index: 0}) }}

    <div class="p1">
        <h3>{{ quiz.title }}</h3>
        <p>Par {{ quiz.author.username }} - {{ quiz.questions.count() }} questions</p>
        <p>Crée {{ quiz.createdDate|date('d/m/Y') }}</p>
        <p>{{ quiz.description }}</p>

        <a href="{{ path('app_quiz_play', {'quizId': quiz.id, 'questionIndex': 0}) }}" class="rounded-btn">Jouer</a>
        {% if app.user.id == quiz.author.id %}
            <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="rounded-btn"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
            <a href="{{ path('app_quiz_remove', {'id': quiz.id}) }}" class="rounded-btn destructive"><i class="fa-solid fa-trash"></i> Supprimer</a>
        {% endif %}
        <a href="{{ path('app_quiz_view_all') }}" class="rounded-btn cancel">Retour</a>
    </div>

{% endblock %}
