{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar', {index: 0}) }}

    <div class="p1">

        {% if quiz.illustrationFilename %}
            <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}" class="question-img">
        {% endif %}

        <div class="row g1">
            <a class="tag" href="{{ path('app_account_view', {'id': quiz.author.id}) }}"><i class="fa-solid fa-user"></i> {{ quiz.author.username }}</a>
            <p class="tag"><i class="fa-regular fa-calendar"></i> {{ quiz.createdDate|date('d/m/Y') }}</p>
            <p class="tag"><i class="fa-regular fa-question-circle"></i> {{ quiz.questions.count() }} questions</p>
            <p class="tag"><i class="fa-regular "></i> {{ nbOfTimesQuizHasBeenPlayed }} Played</p>
        </div>

        <!-- TODO: Add total playes times -->

        <h3>{{ quiz.title }}</h3>
        <p>{{ quiz.description }}</p>

        <a href="{{ path('app_quiz_play', {'quizId': quiz.id, 'questionIndex': 0}) }}" class="rounded-btn"><i class="fa-solid fa-play"></i> Play</a>
        {% if app.user.id == quiz.author.id %}
            <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="rounded-btn"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            <a href="{{ path('app_quiz_remove', {'id': quiz.id}) }}" class="rounded-btn destructive"><i class="fa-solid fa-trash"></i> Remove</a>
        {% endif %}
        <a href="{{ path('app_quiz_view_all') }}" class="rounded-btn cancel">Back</a>
    </div>

{% endblock %}
