{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 0}) }}

    <div class="content">
        <h2>Add a new alarm</h2>

        {{ form_start(form) }}
            {% for error in errors %}
                <div class="form-message error">
                    <img src="{{ asset('icons/info.svg') }}" alt="Error">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}

            <div class="form-control">
                <label>Title</label>
                <input type="text" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" id="title" autocomplete="title" placeholder="Outdoor" required autofocus>
            </div>
            <div class="form-control">
                <label>Action module</label>
                {{ form_widget(form.actionDevice) }}
            </div>
            <div class="form-control">
                <label>Vision module</label>
                {{ form_widget(form.cameraDevice) }}
            </div>

            <div class="row">
                <button class="btn-primary w100" type="submit">
                    <i class="fa-solid fa-plus"></i>&nbsp;Add
                </button>
                <a class="btn-primary w100" href="{{ path('app_couples') }}">
                    Cancel&nbsp;<i class="fa-solid fa-eraser"></i>
                </a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}