{% extends 'base.html.twig' %}

{% block body %}

<div class="page-camera">
    <!-- En-tête avec le titre et l'état de l'alarme -->

    <div class="top-container">
      <a href="{{path('app_couples')}}" > <h1>{{ coupleInfo.title}} </h1> </a>

        <a href="{{path('app_logout')}}" > <i class="fa-solid fa-right-from-bracket"></i> Logout </a>

    </div>


    <!-- Section de prévisualisation de la caméra et du bouton pour prendre une photo -->
    <section class="camera-section">
        <div class="camera-preview">
            <img src="{{path('app_couples_stream', {id:coupleInfo.id} ) }}" alt="Aperçu de la caméra">

            <div class="controls">
                <button  class="rect-btn"
                         hx-get="{{path('app_couples_stream_quality', {id: coupleInfo.id, level: 19} ) }}"
                         hx-trigger="click"
                         hx-swap="none">
                    <i class="fa-solid fa-arrow-up">HD</i>
                </button>
                <button  class="rect-btn"
                         hx-get="{{path('app_couples_stream_quality', {id: coupleInfo.id, level: 12} ) }}"
                         hx-trigger="click"
                         hx-swap="none">
                    <i class="fa-solid fa-minus">Mid</i>
                </button>
                <button  class="rect-btn"
                         hx-get="{{path('app_couples_stream_quality', {id: coupleInfo.id, level: 8} ) }}"
                         hx-trigger="click"
                         hx-swap="none">
                    <i class="fa-solid fa-arrow-down">SD</i>
                </button>
            </div>
        </div>

        <a class="rect-btn" href="{{path('app_couples_capture', {id:coupleInfo.id} ) }}" download>
            Enregistrer une photo
        </a>

        {% if coupleInfo.enabled == 1 %}
            <div id="btnUpdateCoupleState">
                <button  class="rect-btn"
                         hx-get="{{path('app_couples_enabledisable', {id:coupleInfo.id} ) }}"
                         hx-trigger="click"
                         hx-target="#btnUpdateCoupleState"
                         hx-swap="outerHTML">
                    <i id="iconAlarmOn" class="fa-solid fa-power-off"> On </i>
                </button>
            </div>
        {% else %}
            <div id="btnUpdateCoupleState">
                <button  class="rect-btn-red"
                         hx-get="{{path('app_couples_enabledisable', {id:coupleInfo.id} ) }}"
                         hx-trigger="click"
                         hx-target="#btnUpdateCoupleState"
                         hx-swap="outerHTML">
                    <i class="fa-solid fa-power-off"> Off</i>
                </button>
            </div>
        {% endif %}


    </section>

    <!-- Historique des photos prises -->
    <section class="history-section">
        <h2 class="history-title">Historique :</h2>

        {% block history %}
            {% if detections is not null %}
                <div class="history-grid">
                    {% for detect in detections %}
                        <div class="history-item">
                            <img class="history-image" src="{{ asset('camera_picture/' ~ detect.image_filename) }}">

                            <div class="history-info">
                                <p class="history-date"> {{detect.triggered_at|date("d/m/Y H:i:s")}} </p>
                            </div>
                        </div>  
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

    </section>
</div>
{% endblock %}