<header>
    <nav class="navbar">
        <a class="nav-item {{ index == 0 ? "active" : ""  }}" href="{{ path('app_quiz_view_all') }}"><i class="fa-solid fa-play"></i> Quizzes</a>
        <a class="nav-item {{ index == 1 ? "active" : ""  }}" href="{{ path('app_quiz_view_me') }}"><i class="fa-solid fa-folder"></i> My Quizzes</a>
        <a class="nav-item {{ index == 4 ? "active" : ""  }}" href="{{ path('app_favorites_view') }}"><i class="fa-solid fa-star"></i> My Favorites</a>
        <a class="nav-item {{ index == 2 ? "active" : ""  }}" href="{{ path('app_leaderboard_view') }}"><i class="fa-solid fa-trophy"></i> Leaderboard</a>
        <a class="nav-item {{ index == 3 ? "active" : ""  }}" href="{{ path('app_account_view', {"id": app.user.getId() }) }}"><i class="fa-solid fa-user"></i> Profile</a>

        <div class="expanded"></div>
        {% if app.user %}
            <p>{{ app.user.getUsername() }}</p>
            <a class="nav-item logout" href="{{ path('app_logout') }}"><i class="fa-solid fa-power-off"></i></a>
        {% endif %}
    </nav>
</header>