<a class="quiz-card" href="{{ path('app_quiz_view', {'id': quiz.id}) }}">
    <div>
        <div class="quiz-card-image">
            {% if quiz.illustrationFilename %}
                <img src="{{ asset('uploads/' ~ quiz.illustrationFilename) }}">
            {% endif %}
            <div class="image-cover"></div>
            <p class="nb-question tag">{{ quiz.questions.count() }} questions</p>
        </div>
        <div class="quiz-card-info">
            <h3 class="title">{{ quiz.title }}</h3>
            <p class="description">{{ quiz.description }}</p>
            <div class="row g0-5">
                <p class="author tag small"><i class="fa-solid fa-user"></i> {{ quiz.author.username }}</p>
                <p class="date tag small"><i class="fa-regular fa-calendar"></i> {{ quiz.createdDate|date('d/m/Y') }}</p>
            </div>
        </div>
    </div>
</a>